/* Base styles */
html,
body {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Background */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/bg.jpg');
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.85;
    z-index: -1;
}

/* Layout */
.main {
    flex-grow: 1;
    display: flex;
    padding: 40px;
}

/* Components */
.hero-section {
    background: rgba(250, 250, 250, 0.75);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#tally-iframe {
    width: 100%;
    height: 385px;
    border: none;
}

#footer,
#footer-copyright {
    background: black;
    color: white;
    text-align: center;
    margin: 0;
    width: 100%;
}

#footer {
    padding-top: 40px;
}

#footer a, #footer-copyright a {
    color: white;
    text-decoration: none;
    margin: 0;
}

#footer a:hover, #footer-copyright a:hover {
    text-decoration: underline;
}

#footer-copyright {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Media queries */
@media (min-width: 500px) {
    body {
        align-items: center;
    }

    .main {
        align-items: center;
    }

    .hero-section {
        padding: 2rem;
    }

    #tally-iframe {
        height: 385px;
    }
}